@import "tailwindcss";
html,
body,
#root {
  background-color: #1e1e1e;
  min-height: 100%;
  margin: 0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  -webkit-overflow-scrolling: touch;
}

html {
  scroll-behavior: smooth;
}
